*{
  font-family: var(--Germania);
  letter-spacing: 1px;
}

:root{
  --obsidian: #080808;
  --slimeBlue: #1c75bc;

  --headerHeight: 48px;

  --Germania: "Germania One", system-ui;

}

body{
  display: block;
  background-color: var(--obsidian);
  margin: 0;
}

main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header{
  height: var(--headerHeight);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  & img{
    height: calc(var(--headerHeight) - 8px);
  }

  & span{
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--slimeBlue);
  }
}

#searchResults{
  max-width: 512px;
  background-color: white;
  background-clip: border-box;

  max-height: calc(51px*3);
  overflow-y: scroll;

  padding-left: var(--headerHeight);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  scrollbar-width: none;

  opacity: 1;
  transition: opacity .5s;

  @starting-style{
    opacity: 0;

  }
}

#searchBox{
  height: var(--headerHeight);
  width: 90vw;
  max-width: 512px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  background-clip: border-box;
  border: 0px solid transparent;
  border-radius: 2rem;
  transition: border .1s ease-in-out, border-radius .1s ease-in-out;
  padding: 0;

  &:focus-within{
    border: 2px solid var(--slimeBlue);
    border-radius: 2rem 2rem 0 0 ;
  }

  & input{
    height: inherit;
    background-color: transparent;
    width: 100%;
    border: 0 solid transparent;
    outline: none;
    z-index: 1;
  }

  & button{
    background-image: url(./assets/search.svg);
    background-size: calc(var(--headerHeight) - 8px);
    background-repeat:no-repeat;
    background-position:center;
    margin: 0;
    height: inherit;
    /* align-self: flex-end; */
    height: var(--headerHeight);
    aspect-ratio: 1/1;
    padding: 0;
    border-radius: 0 50% 50% 0;
    border: 0 solid transparent;
    background-color: white;
    transition: filter;
    transition-duration: .1s;

    &:hover{
      filter: invert();
    }
  }
}

#searchBox::before{
  position: relative;
  content: "";
  background-color: white;
  border: 0 solid transparent;
  height: var(--headerHeight);
  aspect-ratio: 1/1;
  border-radius: 50% 0 0 50%;
}

#monsterCollection{
  display: block;
  aspect-ratio: 9/16;
  /* height: 75vh; */
  width: 75vw;
  max-width: 512px;
  max-height: 512px;
  overflow-y: hidden;
  overflow-x: hidden;
  filter: drop-shadow( 0 8px 4px black);
}

#topBar{
  position: absolute;
  top: 0;
  z-index: 10;
}

#mainContent{
  align-self: center;
  margin-top: 256px;
}

#arrowContainer{
  width: calc(16vh + 24px);
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;

  & .ArrowCircle{
    background-color: white;
    min-height: 48px;
    height: 8vh;
    max-height: 64px;
    aspect-ratio: 1/1;
    border: 0 solid transparent;
    border-radius: 50%;
    transition: background-color .05s, transform .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);

    &:active{
      transform: scale(.8);
    }

    &:hover{
      background-color: var(--slimeBlue);

      & #leftArrow{
        border-right: 24px solid white;
        transform: scale(1.2);
      }
      & #rightArrow{
        border-left: 24px solid white;
        transform: scale(1.2);
      }
    }

    & #leftArrow, #rightArrow{
      height: 0px;
      width: 0px;
      border-radius: .25rem;
      transition: transform .5s;

    }

    & #leftArrow{
      border-top: 12px solid transparent;
      border-right: 24px solid var(--slimeBlue);
      border-bottom: 12px solid transparent;
    }
    & #rightArrow{
      border-top: 12px solid transparent;
      border-left: 24px solid var(--slimeBlue);
      border-bottom: 12px solid transparent;
    }

  }
}

#activeCard{
  display: block;
  opacity: 1;
  transform: scale(1) translateY(0);
  transition-property: transform;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;

  @starting-style{
    opacity: 0;
    transform: scale(0) translateY(-256px);
  }
}



/* 

 C L A S S E S

*/

.resultButton{
  display: block;
  border: none;
  background-color: white;

  &:hover{
    background-color: gray;
  }
}


.monsterId{
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  color: white;

 & span#poundSign{
    position: fixed;
    top: -24px;
    right: 0;
    font-size: 8rem;
  }

  & span#numberSign{
    display: block;
    color: white;
    font-size: 4rem;
    width: 80px;
    text-align: center;
    margin-top: 12px;
    filter: drop-shadow( 0 0 .65rem black);
  }
}

.statsRow{
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.detailsWrapper{
  padding: 1rem;
}

.monsterDetailContainer{
  display: none;
  background-color: var(--slimeBlue);
  height: 100%;
  border: 0 solid transparent;
  border-radius: 2rem;
}

.detailGrid{
  min-height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  & div{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */

    & div p{
        font-size: 1.2rem;
        text-wrap: wrap;
        color: white;
        margin: 0;
        filter: drop-shadow( 0 0 .65rem black);
      }
  }

}

.monsterSprite{
  width: auto;
  aspect-ratio: 1/1;
  margin: auto;
  display: block;
  filter: drop-shadow( -.25rem .25rem .25rem #165b94);
  /* background-color: var(--obsidian); */
}

.centerFlex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerBlock{
  display: block;
  margin-left: auto;
  width: 90%;
  overflow-y: hidden;
  margin-right: auto;
}

@media only screen and (min-width: 480px){
  *{
    font-size: 1rem
  };
}
@media only screen and (min-width: 960px){
  .monsterDetailContainer{
    margin-left: auto;
    margin-right: auto;
  }

}

